* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  background-color: #e5e2dd;
  justify-content: center;
  width: 100vw;
  cursor: url("images/cursor.svg") 16 16, auto;
  overflow-x: clip;
}
.scene {
  position: relative;
  height: 50.8vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.block {
  position: absolute;
  top: 0;
  height: 26%;
  z-index: 0;
}

.block--blue {
  left: 0;
  top: 0%;
  width: 25vw;
  height: 25vw;
  background: #237abd;
}

.block--yellow {
  right: 0;
  top: 80px;
  width: 17.7vw;
  height: 18vw;
  background: #d1a045;
}

.hole {
  width: 96%;
  z-index: 1;
}
.hole2 {
  margin-top: -2px;
  position: relative;
  z-index: 100;
  left: 0.055vw;
}

.dot {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background: #bd2623;
  border-radius: 50%;
  z-index: 3;
  animation: 8.5s infinite linear;
}
.d1 {
  left: 64.1vw;
  top: 4.6vw;
  animation-name: dot1;
  animation-delay: 0s;
}
.d2 {
  left: 34.4vw;
  top: 5.9vw;
  animation-name: dot2;
  animation-delay: -1s;
}
.d3 {
  left: 40vw;
  top: 9vw;
  animation-name: dot3;
  animation-delay: 0s;
}
.d4 {
  left: 93.7vw;
  top: 5.5vw;
  animation-name: dot4;
  animation-delay: 0s;
}
.d5 {
  left: 62.8vw;
  top: 6.7vw;
  animation-name: dot5;
  animation-delay: 0s;
}
.d6 {
  left: 47.6vw;
  top: 27.6vw;
  animation-name: dot6;
  animation-delay: 0s;
}
.d7 {
  left: 52vw;
  top: 28vw;
  animation-name: dot7;
  animation-delay: 0s;
}
.d8 {
  left: 47.58vw;
  top: 10.08vw;
  animation-name: dot8;
  animation-delay: -4s;
}
.d9 {
  left: 39.69vw;
  top: 11.72vw;
  animation-name: dot9;
  animation-delay: -2s;
}
.d10 {
  left: 16.41vw;
  top: 10.08vw;
  animation-name: dot10;
  animation-delay: 0s;
}
.d11 {
  left: 13.83vw;
  top: 17.5vw;
  animation-name: dot11;
  animation-delay: -4s;
}
.d12 {
  left: 21.25vw;
  top: 20.08vw;
  animation-name: dot12;
  animation-delay: 0s;
}
.d13 {
  left: 20.94vw;
  top: 23.44vw;
  animation-name: dot13;
  animation-delay: -5s;
}
.d14 {
  left: 24.14vw;
  top: 26.02vw;
  animation-name: dot14;
  animation-delay: 0s;
}
.d15 {
  left: 24.14vw;
  top: 30.08vw;
  animation-name: dot15;
  animation-delay: 0s;
}
.d16 {
  left: 25.08vw;
  top: 28.75vw;
  animation-name: dot16;
  animation-delay: -3s;
}
.d17 {
  left: 27.11vw;
  top: 27.5vw;
  animation-name: dot17;
  animation-delay: -1s;
}
.d18 {
  left: 31.09vw;
  top: 20.86vw;
  animation-name: dot18;
  animation-delay: -2s;
}
.d19 {
  left: 36.95vw;
  top: 17.11vw;
  animation-name: dot19;
  animation-delay: -5s;
}

.dot {
  top: -10%;
}
.bg {
  z-index: 0;
}
.bg-yellow {
  width: 41.7vw;
  height: 73vw;
  background: #d1a045;

  margin-left: 0;
  right: auto;
  top: 1190px;
}
.bg-red {
  width: 32.6vw;
  height: 35.7vw;
  background: #bd2623;

  left: 41.7vw;
  top: -70.3vw;
}
.bg-green {
  width: 37vw;
  height: 22.5vw;
  background: #1a704d;
  left: 53vw;
  top: 34.5vw;
}

.poster {
  position: relative;
  width: 100vw;
  display: grid;
  padding: 1vw;
  box-sizing: border-box;
}
.stage,
.text-stage {
  grid-row: 1;
  grid-column: 1;
}
.stage .bg {
  position: absolute;
  z-index: 0;
}
.stage {
  position: relative;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  height: 180vw;
  overflow: visible;
}

.text-stage {
  min-height: 100vh;
  z-index: 1;
}

.text-wrap {
  width: 100%;
  max-width: 100vw;
  font-size: 1.9vw;
  color: #1a1a1a;
  line-height: 1.1;
  margin-top: 2vw;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.8vw;
  margin-bottom: 3vw;
}

.line {
  display: flex;
  gap: 1vw;
  white-space: normal;
  flex-wrap: wrap;
}

.left {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
.right {
  justify-content: flex-end;
}

.w {
  display: inline-block;
  word-break: break-word;
  cursor: pointer;
}

.w:hover {
  animation: word-swing 0.25s cubic-bezier(0.6, 0, 0.8, 1) infinite alternate;
}

.grid {
  display: grid;
  grid-template-columns: 1.1fr 1fr 0.95fr;
  column-gap: 4vw;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.footer {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
}
.right {
  padding-right: 1vw;
}
.linРµe,
.liine,
.linne {
  display: flex;
}

.linРµe {
  margin-left: 3vw;
}
.liine {
  margin-left: 1.5vw;
}
.linne {
  margin-left: 3vw;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.group + .group {
  margin-top: 2vw;
}

.funnel-section {
  width: 100%;
  margin: 23.4vw auto 0;
  gap: -7.9vw;
  margin-top: 15.6vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.funnel-title {
  margin: 0 0 -0.8vw 0;
  font-size: 2.7vw;
  line-height: 1.05;
  color: #2b2b2d;
  text-align: center;
  white-space: nowrap;
  top: 5.5vw;
}

.funnel-section {
  width: 100%;
  margin: 8vw auto 0;
  display: flex;
  justify-content: center;
}
.funnel {
  position: relative;
  width: min(76vw, 1100px);
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.funnel-ovals,
.funnel-arrows {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.funnel-ovals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oval {
  width: 100%;
  height: auto;
  display: block;
}

.o2,
.o3,
.o4 {
  margin-top: -4.5vw;
}

.funnel-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  transform: scale(clamp(0.8, 3vw, 3));
  transform-origin: top center;
  width: 7vw;
  max-width: 120px;
}

.arrow {
  height: auto;
  display: block;
  animation: arrow-drop 1.4s ease-in-out infinite;
  will-change: transform;
}

.arrow.a1 {
  animation-delay: 0s;
}
.arrow.a2 {
  animation-delay: 0.25s;
}
.arrow.a3 {
  animation-delay: 0.5s;
}
.funnel-title,
.funnel-subtitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4vw;
  line-height: 1.1;
  color: #1a1a1a;
  white-space: nowrap;
  text-align: center;
  gap: 20vw;
}
.funnel-subtitle {
  bottom: 6.5vw;
}
.scheme {
  width: 100%;
}

.scheme-inner {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 3vw;
}
.scheme-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.here-arrow {
  position: absolute;
  width: 16%;
  left: 61%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
  animation: arrow-nudge 0.65s ease-in-out infinite alternate;
  will-change: transform;
}

.left-img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}
.scheme-right {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -3vw;
}
.starburst {
  position: absolute;
  left: 52%;
  top: 60%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
  z-index: 1;
  transform-origin: 50% 50%;
  animation: spiral-spin 0.25s linear infinite;
  will-change: transform;
}
.right-topline {
  position: absolute;
  top: 12%;
  left: 50.5%;
  transform: translateX(-50%);
  width: min(96%, 56vw);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;

  font-size: clamp(12px, 2.4vw, 30px);
  color: #2b2b2d;
  z-index: 5;

  white-space: nowrap;
}

.right-topline span {
  line-height: 1;
}
.topline-arrow {
  width: clamp(28px, 6vw, 90px);
  height: auto;
  flex: 0 0 auto;
  margin: 0;
  display: inline-block;
  animation: arrow-slide 0.7s ease-in-out infinite alternate;
  will-change: transform;
}
.ladder {
  position: absolute;
  top: 16%;
  right: 0vw;
  width: 96%;
  z-index: 4;
}

.ladder img {
  width: 100%;
  height: auto;
  display: block;
}
.blue-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 5%;
  text-align: right;
  top: -12%;
}

.blue-text p {
  margin: 0;
  font-size: clamp(12px, 2.4vw, 30px);
  line-height: 1.05;
  color: #2b2b2d;
}
.right-subline {
  position: absolute;
  top: 56%;
  left: 51%;
  transform: translateX(-50%);
  width: 76%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(12px, 2.4vw, 28px);
  color: #2b2b2d;
  z-index: 5;
}
.map {
  width: 100%;
  padding: 6vw 0;
  overflow: visible;
}

.map-inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
  left: 0.3vw;
}
.piece-default {
  filter: grayscale(1) !important;
}
.piece-hover {
  filter: none !important;
  animation: none !important;
}
.piece-wrap {
  position: absolute;
  width: auto;
  height: auto;
}
.piece-wrap:hover .piece-default {
  opacity: 0;
}
.piece-wrap:hover .piece-hover {
  opacity: 1;
}

.piece {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  filter: none !important;
  animation: none !important;
  transform: none;
}

.num {
  position: absolute;
  font-size: 1.9vw;
  color: #2b2b2d;
  pointer-events: none;
}
.piece-wrap {
  position: absolute;
}

.piece-wrap .piece {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.25s ease;
}
.piece-wrap .piece-default {
  opacity: 1;
}

.piece-wrap .piece-hover {
  opacity: 0;
  pointer-events: none;
}
.piece-wrap:hover .piece-default {
  opacity: 0;
}

.piece-wrap:hover .piece-hover {
  opacity: 1;
}
.piece-wrap .num {
  position: absolute;
  z-index: 3;
  pointer-events: none;
}
.p1 {
  top: 8.5vw;
  left: -6vw;
  width: 22vw;
}
.p2 {
  top: 22.5vw;
  left: 55vw;
  width: 9vw;
}
.p3 {
  top: -3vw;
  left: 33vw;
  width: 12vw;
}
.p4 {
  top: -3vw;
  left: 5vw;
  width: 27vw;
}
.p5 {
  top: -4vw;
  left: -6vw;
  width: 9vw;
}
.p6 {
  top: -2vw;
  left: 46vw;
  width: 13vw;
}
.p7 {
  top: 1vw;
  left: 58vw;
  width: 11vw;
}
.p8 {
  top: -2vw;
  left: 64.5vw;
  width: 15vw;
}
.p9 {
  top: 3vw;
  left: 55vw;
  width: 33vw;
}
.p10 {
  top: 15vw;
  left: 24vw;
  width: 40vw;
}
.p11 {
  top: 12vw;
  left: 72vw;
  width: 15vw;
}
.p12 {
  top: 27vw;
  left: 46vw;
  width: 20vw;
}
.p13 {
  top: 25vw;
  left: -9vw;
  width: 35vw;
}
.p14 {
  top: 27vw;
  left: 78vw;
  width: 8vw;
}
.p15 {
  top: 32vw;
  left: 26vw;
  width: 24vw;
}
.p16 {
  top: 25vw;
  left: 65.5vw;
  width: 8vw;
}
.p17 {
  top: 33vw;
  left: 68vw;
  width: 14vw;
}
.p18 {
  top: 17vw;
  left: 16vw;
  width: 7vw;
}
.p19 {
  top: 43vw;
  left: 1vw;
  width: 27vw;
}
.p20 {
  top: 45vw;
  left: -8vw;
  width: 12vw;
}
.p21 {
  top: 45vw;
  left: 50vw;
  width: 20vw;
}
.p22 {
  top: 46vw;
  left: 72vw;
  width: 15vw;
}
.p23 {
  top: 12.2vw;
  left: 65vw;
  width: 12vw;
}
.p24 {
  top: 41vw;
  left: 46vw;
  width: 11vw;
}
.p25 {
  top: 5.1vw;
  left: 46vw;
  width: 7vw;
}

.p1 .num {
  top: 5vw;
  left: 6vw;
}
.p2 .num {
  top: 0.7vw;
  left: 3vw;
}
.p3 .num {
  top: 6vw;
  left: 4vw;
}
.p4 .num {
  top: 9vw;
  left: 13vw;
}
.p5 .num {
  top: 5.3vw;
  left: 3.3vw;
}
.p6 .num {
  top: 4vw;
  left: 6.2vw;
}
.p7 .num {
  top: 2vw;
  left: 4vw;
}
.p8 .num {
  top: 2vw;
  left: 8vw;
}
.p9 .num {
  top: 5.7vw;
  left: 16vw;
}
.p10 .num {
  top: 5vw;
  left: 20vw;
}
.p11 .num {
  top: 8vw;
  left: 7vw;
}
.p12 .num {
  top: 10vw;
  left: 11vw;
}
.p13 .num {
  top: 8vw;
  left: 18vw;
}
.p14 .num {
  top: 2vw;
  left: 2.3vw;
}
.p15 .num {
  top: 16vw;
  left: 12vw;
}
.p16 .num {
  top: 3vw;
  left: 4.3vw;
}
.p17 .num {
  top: 5.4vw;
  left: 5.3vw;
}
.p18 .num {
  top: 2vw;
  left: 2vw;
}
.p19 .num {
  top: 6vw;
  left: 12vw;
}
.p20 .num {
  top: 9.5vw;
  left: 7vw;
}
.p21 .num {
  top: 7vw;
  left: 10vw;
}
.p22 .num {
  top: 0.3vw;
  left: 7vw;
}
.p23 .num {
  top: 4vw;
  left: 7vw;
}
.p24 .num {
  top: 3vw;
  left: 3.2vw;
}
.p25 .num {
  top: 4vw;
  left: 2vw;
}
.code,
.name {
  position: absolute;
  color: #2b2b2d;
  top: 63vw;
  font-size: 2.5vw;
}

.code {
  left: 2vw;
}
.name {
  right: 0;
  left: auto;
}
.bg,
.block {
  will-change: transform;
  transform: translate3d(0, 0, 0);
}
.block--blue {
  animation: float-b 5.2s ease-in-out infinite;
  animation-delay: -1.2s;
}

.block--yellow {
  animation: float-a 5.8s ease-in-out infinite;
  animation-delay: -2s;
}

.bg-yellow {
  animation: float-c 7.2s ease-in-out infinite;
  animation-delay: -3.6s;
}

.bg-red {
  animation: float-red 6.2s ease-in-out infinite;
  animation-delay: -2.4s;
}

.bg-green {
  animation: float-e 6.8s ease-in-out infinite;
  animation-delay: -4s;
}
.bg-red-under {
  width: 41.7vw;
  height: 28vw;
  background: #bd2623;
  margin-left: 0;
  margin-right: auto;

  margin-top: 128vw;
  animation: float-red-under 6.4s ease-in-out infinite;
  animation-delay: -1.7s;
}
.stage .bg-yellow {
  width: 41.7vw;
  height: 73vw;
  background: #d1a045;
  left: 0;
  top: 25vw;
}

.stage .bg-red {
  width: 32.6vw;
  height: 35.7vw;
  background: #bd2623;
  left: 52vw;
  top: 2.7vw;
}

.stage .bg-green {
  width: 37vw;
  height: 22.5vw;
  background: #1a704d;
  left: 67vw;
  top: 80vw;
}
